@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark *) );

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Brand Colors */
  --color-fl-primary: var(--color-fl-primary);
  --color-fl-primary-hover: var(--color-fl-primary-hover);

  --color-fl-hover: var(--color-fl-hover);
  --color-fl-text: var(--color-fl-text);
  --color-fl-insider: var(--color-fl-insider);
  --color-fl-info: var(--color-fl-info);
  --color-fl-border: var(--color-fl-border);
  --color-fl-bg: var(--color-fl-bg);
  --color-fl-bg-sec: var(--color-fl-bg-sec);/* slightly gray */

  --color-fl-hover-rev: var(--color-fl-hover-rev);
  --color-fl-text-rev: var(--color-fl-text-rev);
  --color-fl-info-rev: var(--color-fl-info-rev);
  --color-fl-border-rev: var(--color-fl-border-rev);
  --color-fl-bg-rev: var(--color-fl-bg-rev);
  --color-fl-bg-sec-rev: var(--color-fl-bg-sec-rev);/* slightly gray */

  --color-fl-red : var(--color-fl-red);
  --color-fl-orange : var(--color-fl-orange);
  --color-fl-yellow : var(--color-fl-yellow);
  --color-fl-lime : var(--color-fl-lime);
  --color-fl-green : var(--color-fl-green);
  --color-fl-teal : var(--color-fl-teal);
  --color-fl-sky : var(--color-fl-sky);
  --color-fl-blue : var(--color-fl-blue);
  --color-fl-purple : var(--color-fl-purple);
  --color-fl-fuchsia : var(--color-fl-fuchsia);
  --color-fl-pink : var(--color-fl-pink);
  --color-fl-rose : var(--color-fl-rose);
  --color-fl-slate : var(--color-fl-slate);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Brand Colors */
  --color-fl-primary-hover: color-mix(in oklab, var(--color-fl-primary) 90%, transparent);

  --color-fl-hover: rgba(128, 128, 128, 0.1);
  --color-fl-text: var(--color-gray-900);
  --color-fl-insider: #FFFFFF;
  --color-fl-info: var(--color-gray-400);
  --color-fl-border: var(--color-gray-200);
  --color-fl-bg: #FFFFFF;
  --color-fl-bg-sec: #F9FAFB; /* slightly gray */

  --color-fl-hover-rev: rgba(255, 255, 255, 0.05); 
  --color-fl-text-rev: #FFFFFF;
  --color-fl-info-rev: var(--color-gray-400); /* gray-400 */
  --color-fl-border-rev: var(--color-gray-800); /* gray-800 */
  --color-fl-bg-rev: #000000;
  --color-fl-bg-sec-rev: #111111; /* slightly gray */

  --color-fl-mono: var(--color-gray-900);

  --color-fl-red : var(--color-red-400);
  --color-fl-orange : var(--color-orange-400);
  --color-fl-yellow : var(--color-yellow-400);
  --color-fl-lime : var(--color-lime-400);
  --color-fl-green : var(--color-green-400);
  --color-fl-teal : var(--color-teal-400);
  --color-fl-sky : var(--color-sky-400);
  --color-fl-blue : var(--color-blue-400);
  --color-fl-purple : var(--color-purple-400);
  --color-fl-fuchsia : var(--color-fuchsia-400);
  --color-fl-pink : var(--color-pink-400);
  --color-fl-rose : var(--color-rose-400);
  --color-fl-slate : var(--color-slate-400);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Brand Colors */
  --color-fl-hover: rgba(255, 255, 255, 0.05); 
  --color-fl-text: #FFFFFF;
  --color-fl-info: var(--color-gray-400); /* gray-400 */
  --color-fl-border: var(--color-gray-800); /* gray-800 */
  --color-fl-bg: #000000;
  --color-fl-bg-sec: #111111; /* slightly gray */

  --color-fl-hover-rev: rgba(128, 128, 128, 0.1);
  --color-fl-text-rev: var(--color-gray-900);
  --color-fl-info-rev: var(--color-gray-400);
  --color-fl-border-rev: var(--color-gray-200);
  --color-fl-bg-rev: #FFFFFF;
  --color-fl-bg-sec-rev: #F9FAFB; /* slightly gray */

  --color-fl-mono: #FFFFFF;
}

.theme-red{
  --color-fl-primary: var(--color-fl-red);
}
.theme-orange{
  --color-fl-primary: var(--color-fl-orange);
}
.theme-yellow{
  --color-fl-primary: var(--color-fl-yellow);
}
.theme-lime{
  --color-fl-primary: var(--color-fl-lime);
}
.theme-green{
  --color-fl-primary: var(--color-fl-green);
}
.theme-teal{
  --color-fl-primary: var(--color-fl-teal);
}
.theme-sky{
  --color-fl-primary: var(--color-fl-sky);
}
.theme-blue{
  --color-fl-primary: var(--color-fl-blue);
}
.theme-purple{
  --color-fl-primary: var(--color-fl-purple);
}
.theme-fuchsia{
  --color-fl-primary: var(--color-fl-fuchsia);
}
.theme-pink{
  --color-fl-primary: var(--color-fl-pink);
}
.theme-rose{
  --color-fl-primary: var(--color-fl-rose);
}
.theme-slate{
  --color-fl-primary: var(--color-fl-slate);
}

.theme-mono{
  --color-fl-primary : var(--color-fl-mono)
}

.theme-mono.dark {
  --color-fl-insider: var(--color-gray-900);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
   .custom-scrollbar::-webkit-scrollbar {
    @apply size-1.5;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    /* Use direct hex/rgb values for scrollbar for consistency/simplicity */
    background-color: #e5e7eb; /* bg-gray-200 */
    border-radius: 9999px;     /* rounded-full */
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #374151; /* bg-gray-700 */
  }
}